# Build output
build/

# VS Code
.vscode/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

# Ninja
.ninja_deps
.ninja_log

# Executables
*.exe
*.out

# Object files
*.obj
*.o

# Libraries
*.dll
*.lib
*.a

# Logs
*.log